/* ===============================
   Author: {Kat Turner}
   Date:   {August 2024}
   
   Notes:
   Hand coded for Build a Website
   from Scratch with HTML & CSS
   by Brad Hussey
   
   Colour Palette:
   ---------------
   Light Cream:		#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
    background: #f2f3ee url('../images/bg-tile.gif') top left repeat;
    color: #4b2707;
    font-size: 14px;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    
 }



 
 
 
 

 
 
 
 
 

 